
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/site.css" rel="stylesheet" />
    <title>SB3</title>
</head>
<body>
    <div class="SB3_menu">      
            042300-TEMP- GLASS UNIT MASONRY  
    </div>
    <div class="maincontent">
       <div class="content">
           fdsafasf
       </div>
        <div class="sidebar">
            <ul>
                <li><a href="#" class="rotate">Question and Answer</a></li>
                <li><a href="#" class="rotate">Split Screen</a></li>
                <li><a href="#" class="rotate">Related Content</a></li>
                <li><a href="#" class="rotate">Tasks</a></li>
                <li><a href="#" class="rotate">Supporting Docs</a></li>
            </ul>
        </div>    
    </div>
</body>
</html>
