@model ProjectConsultants.Entity.Questions
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <link href="~/Content/CSS/site.css" rel="stylesheet" />
 
    <title>SB3</title>
</head>
<body>
    <div class="SB3_menu">      
            042300-TEMP- GLASS UNIT MASONRY  
    </div>
    <div class="maincontent">
       <div class="content">
           <input type="button" id="mode" value="Mode" /> <a href="#" hidden>ListView</a><a href="#" hidden> Single</a>     
       </div>

        <div class="sidebar">
            <a class="sidelist rotate ques" href="#">Question and Answer</a><br><br><br>
            <a class="sidelist rotate abc splitscreen" href="#">Split Screen</a><br><br>
            @*<a>@Html.ActionLink("Question and Answer", "", "", new { @class = "sidelist rotate" })</a><br><br><br>
            <a>@Html.ActionLink("Split Screen", "", "", new { @class = "sidelist rotate abc" })</a><br><br>*@
            <a class="sidelist rotate ab relate" href="#">Related Content</a><br>
            @*<a>@Html.ActionLink("Tasks", "", "", new { @class = "sidelist rotate task" })</a><br>
            <a>@Html.ActionLink("Supporting Docs", "", "", new { @class = "sidelist rotate ab" })</a>*@
            <a class="sidelist rotate task tasks" href="#">Tasks</a><br>
            <a class="sidelist rotate ab docs" href="#">Supporting Docs</a><br>           
        </div>    
    </div>
  
</body>
</html>
<script type="text/javascript">
            $(".ques").click(function () {
            $(".content").html("<h2>Question and Answer Link under Process</h2>");
            $("div.sidebar > a").removeClass("autoselect");
            $(".ques").addClass("autoselect");
            });
            $(".splitscreen").click(function () {
                $("div.sidebar > a").removeClass("autoselect");
                $(".content").html("<h2>Split Screen Link under Process</h2>");

                $(".splitscreen").addClass("autoselect");
            });
            $("#mode").click(function () {
                $(".content > a").show();
            })
            $(".relate").click(function () {
                $("div.sidebar > a").removeClass("autoselect");
                $(".content").html("<h2>Related Content Link under Process</h2>");
                $(".relate").addClass("autoselect");
            });
            $(".tasks").click(function () {
                $("div.sidebar > a").removeClass("autoselect");
                $(".content").html("<h2>Tasks Link under Process</h2>");
                $(".tasks").addClass("autoselect");
            });
            $(".docs").click(function () {
                $("div.sidebar > a").removeClass("autoselect");
                $(".content").html("<h2>Supporting Docs Link under Process</h2>");
                $(".docs").addClass("autoselect");
            });
           
</script>

