
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Arcom</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>ARCOM</h1>
                <p class="lead">ARCOM is recognized as specification experts in the construction and building industries and has been trusted by design and specification professionals for decades. Dedicated to simplifying specification development, our specification writers, software developers, and support professionals integrate exceptional specification content with software solutions to help you produce specifications in less time.</p>
                <p><a href="#" class="btn btn-primary btn-lg">Learn more</a></p>
            </div>
        </div>
    </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/bundles/css")
