body {
}

.navlist {
    display: inline;
    padding-left: 18px;
    padding-right: 10px;
}

    .navlist a {
        color: #826666;
        font-size: 15px;
        text-decoration: none;
    }

.navigation {
    margin-top: 25px;
    margin-left: 18px;
}

li.navlist a.active{
    color: #019CDE !important;
    border-bottom: 2px solid #019CDE !important;
    padding-bottom: 3px !important;
}

#headerBlock {
    background-color: #ADB0B2;
    height: 80px;
    width: 100%;
}

#headerText {
    color: white;
    margin-left: 75px;
}

.headerColor {
    background-color: #019CDE;
    width: 100%;
    height: 20px;
}
/*Changes for ChangePassword*/
.headerColor2 {
    background-color: #F7F7F7;
    width: 100%;
    height: 70px;
}
#headerText2 {
    color: black;
    margin-left: 130px;
    padding-top:25px;
}