body {
}

.navlist {
    display: inline;
    padding-left: 18px;
    padding-right: 10px;
}

    .navlist a {
        color: #826666;
        font-size: 15px;
        text-decoration: none;
    }

.navigation {
    margin-top: 25px;
    margin-left: 18px;
}

li.navlist a.active {
    color: #019CDE !important;
    border-bottom: 2px solid #019CDE !important;
    padding-bottom: 3px !important;
}

#headerBlock {
    background-color: #ADB0B2;
    height: 80px;
    width: 100%;
}

#headerText {
    color: white;
    margin-left: 75px;
    position: relative;
    top: 4px;
}

.headerColor {
    background-color: #019CDE;
    width: 100%;
    height: 28px;
}

#menu-icon {
    float: right;
    margin-right: 5%;
}

/* Log Out CSS*/
.dropdown-menu {
    position: absolute;
    top: 26px;
    right: 70px;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    list-style: none;
    color: #777777;
    z-index: 100;
}

.dropdown-subitem {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.menuHeadingPadding {
    padding-left: 10px;
}

    .menuHeadingPadding a {
        text-decoration: none;
        color: #777777;
    }

.visible {
    display: block;
}

.hidden {
    display: none;
}
