body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    max-width: 100%;
    margin: 0 auto;
}

.body {
    width: 1300px;
}

.pageInnerWidth {
    width: 1300px;
}

.formWidth {
    width: 75%;
    float: left;
    padding-left: 50px;
}

.formHeading {
    width: 100%;
}

.formHeadingProject {
    width: 97%;
}

.formRow {
    width: 100%;
}

.formRow1 {
    width: 100%;
    display: inline-block;
}

.textFieldWidth {
    width: 31%;
    float: left;
    padding-right: 20px;
}

.bodytop {
    padding-top: 40px;
}

#line {
    border-left: 1px solid #ADB0B2;
    height: 300px;
    margin-left: 28%;
}

#headingMargin {
    margin: 0px !important;
    font-weight: 200;
}

.rowMargin {
    margin-top: 10px;
}

.rowMargin1 {
    margin-top: 18px;
}

#projectName {
    margin-top: 20px;
}

#btnalignment {
    margin-left: 6%;
}

.btn-sm {
    line-height: 2.0;
}

.dropstyle {
    line-height: 1.42857143;
    padding: 6px 12px;
    width: 100%;
    border-radius: 4px;
    color: #999999;
}

.buttonWidth {
    width: 15%;
    float: left;
}

.buttonSize {
    line-height: 2.0;
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
    color: #6E6A66;
    background-color: #fff;
    border-color: #ccc;
    cursor: pointer;
    text-align: center;
    margin-bottom: 6px;
    white-space: nowrap;
    vertical-align: middle;
    box-sizing: border-box;
    text-shadow: none;
    border: 1px solid #ccc;
}

    .buttonSize:hover {
        color: #019CDE;
        background-color: #fff;
        border-color: #ccc;
    }



.form-field-css {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.topMargin {
    margin-top: 11px;
}

/* Login Page CSS*/

#imageAlignment {
    position: relative;
    top: 30px;
    left: 60px;
}

#loginHeaderBlock {
    background-color: #F7F7F7;
    height: 80px;
    width: 100%;
    position: relative;
    top: 45px;
    border-top: 1px solid #E8E8E8;
}

#loginpageTitle {
    color: #9F9F9F;
    font-size: 15px;
    position: relative;
    top: 25px;
    margin-left: 4.5%;
}

.textFieldSpace {
    padding-top: 20px;
}

.buttonSpace {
    padding-top: 40px;
}

.fieldPadding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.center-form {
    margin: 0 auto !important;
    width: 40%;
    margin-top: 8% !important;
}

.buttonStyle {
    color: #30A7E0;
    background-color: #fff;
    border-color: #30A7E0;
    border-radius: 10px;
}

#loginHeading {
    font-size: 30px;
    font-weight: 600;
}

#loginTitle {
    text-align: center;
}

.loginHeadingSpace {
    padding-top: 40px;
}

#loginFormBorder {
    border: 1px solid #DFDFDF;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    padding-left: 80px;
}

.accountText {
    color: #555;
}

.infoText {
    color: #30A7E0;
}

.textPosition {
    text-align: center;
}

.infoText a {
    text-decoration: none !important;
    color: #30A7E0 !important;
}

.informationTextPadding {
    padding-top: 30px;
    padding-bottom: 120px;
}

/*Registration page css*/
.header{
    height:70px;
    background-color:white;
   padding-left:25px;
}
.hr_css{
    color:dodgerblue;
}

.heading{
    color:darkgrey;
    padding-left:40px;
    padding-top:20px;
}
.img_register{
   padding-top:10px;
   padding-left:20px;  
}
.textField{
    width: 24%;
    float: left;
    padding-left: 450px;
    padding-top:8px;   
}
.mainreg{
    margin-top:70px;
}

.signup{
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 6px 15px;
    margin-left:90px;
    border-color: dodgerblue;
    color: dodgerblue;
    margin-top:5px;

}